:root {
  --S_yellow  : #b58900;
  --S_orange  : #cb4b16;
  --S_red     : #dc322f;
  --S_magenta : #d33682;
  --S_violet  : #6c71c4;
  --S_blue    : #268bd2;
  --S_cyan    : #2aa198;
  --S_green   : #859900;

  --S_base03  : #fdf6e3;
  --S_base02  : #eee8d5;
  --S_base01  : #93a1a1;
  --S_base00  : #839496;
  --S_base0   : #657b83;
  --S_base1   : #586e75;
  --S_base2   : #073642;
  --S_base3   : #002b36;
}

/*
@media (prefers-color-scheme : dark) {
:root {
  --S_base03  : #002b36;
  --S_base02  : #073642;
  --S_base01  : #586e75;
  --S_base00  : #657b83;
  --S_base0   : #839496;
  --S_base1   : #93a1a1;
  --S_base2   : #eee8d5;
  --S_base3   : #fdf6e3;
}}
*/

html {
  font : 1.5em/1.42 system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -moz-text-size-adjust    : 100%;
  -webkit-text-size-adjust : 100%;
}

body {
  background-color : var(--S_base03);
  color            : var(--S_base0);
  height           : 100dvh;
}

body > * {
  padding-inline : calc((100vw - 980px) / 2);
}

a                 { color : var(--S_blue);   }
dt                { color : var(--S_violet); }
h1,h2,h3,h4,h5,h6 { color : var(--S_red);    }
header            { color : var(--S_orange); }
td:first-child    { color : var(--S_yellow); }

a              { cursor          : pointer;   }
a:hover        { text-decoration : underline; }
body, h1       { margin          : 0;         }
img            { vertical-align  : bottom;    }
td:first-child { vertical-align  : top;       }

a, dl, h1, h2, h3, h4, h5, h6, ol, p, td, ul {
  font-style      : normal;
  font-weight     : normal;
  text-decoration : none;
}

header {
  background : crimson url('/assets/logo960.png') center/960px auto no-repeat;
  height     : 360px;
  position   : relative;
}

header > a {
  height   : 100%;
  position : absolute;
      left : 0;
      top  : 0;
  width    : 100%;
}

main {
  display : flex;
}

main * {
  margin-bottom : auto;
  margin-top    : auto;
}

main > a {
  flex-shrink : 0;
  margin-top  : -100px;
  z-index     : 0;
}

main > a > img {
  border-radius : 50%;
}
